.App-header {
  margin-left: 30vh;
  padding-left: 2vh;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  margin-left: 30vh;
  padding-left: 2vh;
  background-color: #282c40;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-form {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  display: inline-block;
  text-align: center;
  font-size: calc(1px + 2vmin);
  color: white;
}

 .form ol {
      padding-left: 0;
    }

.form li, div > p {
      background: #282c34;
      display: flex;
      justify-content: space-between;
      margin-bottom: 2vh;
      list-style-type: none;
      border: .3vh solid white;
    }

.form img {
      height: 64px;
      order: 1;
    }

.form p {
      line-height: 3vh;
      padding-left: 2vh;
    }

.form label, form submit {
      background-color: #7F9CCB;
      padding: 1vh 2vh;
      border-radius: 1vh;
      border: 1vh ridge black;
      font-size: 0.8rem;
      height: auto;
    }

.form label:hover, form submit:hover {
      background-color: #2D5BA3;
      color: white;
    }

.form label:active, form submit:active {
      background-color: #0D3F8F;
      color: white;
    }

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

