.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  background-color: #282c40;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-form {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  display: inline-block;
  text-align: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

 .form ol {
      padding-left: 0;
    }

.form li, div > p {
      background: #282c34;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      list-style-type: none;
      border: 1px solid white;
    }

.form img {
      height: 64px;
      order: 1;
    }

.form p {
      line-height: 32px;
      padding-left: 10px;
    }

.form label, form submit {
      background-color: #7F9CCB;
      padding: 5px 10px;
      border-radius: 5px;
      border: 1px ridge black;
      font-size: 0.8rem;
      height: auto;
    }

/* .form label:hover, form button:hover {
      background-color: #2D5BA3;
      color: white;
    } */

.form label:active, form button:active {
      background-color: #0D3F8F;
      color: white;
    }